* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  overflow: hidden;
  background-image: url('/bg.png');
  background-size: 100% 65%;
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  height: 100vh;
}
